#admin {
  padding: 0 15px;
}
#admin .admin-table-container {
  margin-top: 10px;
}
#admin table {
  margin-top: 10px;
}
/* price form arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
/* price form arrows */
