#gallery {
    height: auto;
  }
  
  /*#gallery-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #gallery img {
    max-height: 300px;
    display: inline-flex;
    margin-bottom: 5px;
    cursor: pointer;
    flex: 1 0 25%;
  }*/

  .gallery-img-item {
    opacity: 0;
    transition: 1000ms;
  }

  .is-visible {
      opacity: 1;
  }

  .gallery-img-item.is-visible .image-container {
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    background: #f3f3f3;
  }

  .gallery-img-item img {
      max-width: 100%;
      width: calc(100% - 16px);
      margin: 8px;
  }
  
  #overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
  }
  
  #gallery #slideshow {
    width: 100%;
    height: calc(100% - 110px);
    text-align: center;
    position: absolute;
    z-index: 102;
    left: 0;
    top: 110px;
    background-color: tomato;
    transition: 200ms;
  }
  
  #gallery #slideshow img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    /*position: absolute;
    transition: 1s;*/
  }

  /*#gallery #slideshow img#next-image {
    opacity: 0;
  }

  #gallery #slideshow img#next-image.in-transition {
    opacity: 1;
  }

  #gallery #slideshow img.in-transition {
    opacity: 0;
  }*/
  

  .nav-button {
    position: absolute;
    width: 200px;
    height: 100%;
    cursor: pointer;
    top: 0;
  }
  
  .nav-button.right {
    right: 0;
  }
  
  .nav-button.left {
    left: 0;
  }
  
  #overlay-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
  }

  #gallery-pictures {
    column-count: 3;
  }

  /*Extra small screens*/
  @media (max-width:576){
    #gallery-pictures {
      column-count: 1;
    }  
  }

  /*Small screens*/
  @media (min-width: 576px) and (max-width: 768px){
    #gallery-pictures  {
      column-count: 2;
    }  
  }

  /*Medium + large screens*/
  @media (min-width: 768px) and (max-width: 1200){
    #gallery-pictures {
    }  
  }

  /*Extra large screens*/
  @media (min-width: 1400px) {
    #gallery-pictures {
      column-count: 4;
    }  
  }